---
import { Image } from "astro:assets";
//import { randomUUID } from "node:crypto";
import { v4 as uuidv4 } from "uuid";

interface Props {
    title: string;
    image: any;
    description: string;
}

const { title, image, description } = Astro.props;
const uuid = ("id-" + uuidv4()).replace(/-/g, '_');
const oc = uuid + ".showModal()";
---

<button class="card w-72 m-1 bg-base-100 shadow-xl border-amber-900" onclick={oc}>
    <div class="card-body">
        <h2 class="card-title">{title}</h2>
        <p>{description}</p>
    </div>
    <figure>
        <Image src={image} alt={title} class="rounded-b-lg aspect-[4/3]" />
    </figure>
</button>

<!-- Open the modal using ID.showModal() method -->
<dialog id={uuid} class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">{title}</h3>
        <p class="py-4">{description}</p>
        <Image src={image} alt={title} class="rounded-b-lg aspect-[4/3]" />
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>
